@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,600,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic);
body{
  color: #080826;
  font-family: 'Crimson Text', serif;
  font-size: 2rem;
  background: #E0E3E5;
}
div {
  padding-bottom: 1rem;
}
h1{
  font-size: 5rem;
  color: #080826;
}
#border {
  width: 95%;
  border-bottom: 4px double #080826;
  margin: auto auto 3rem;
  max-width: 600px;
}

a,
.pagination a {
  color: #7C1F3C;
  font-weight: 600;
  font-size: 110%;
}
a:hover,
a:focus,
.pagination a:hover {
  color: #CF5C36;
  text-decoration: none;
}
i {
  color: #CF5C36;
}

.business-info {
  padding-bottom: 4rem;
}
.map {
  padding: 2rem;
}

.nav {
  width: 20rem;
  float: none;
  margin: auto;
}
#nav-button {
  padding: 1rem;
  font-size: 1.6rem;
  width: 5rem;
  display: inline;
}
#nav-button i:hover{
  color: #7C1F3C;
}

.page {
  max-width: 100%;
  overflow: hidden;
}
.review {
  border-top: 1px solid #BBBDBF;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.review:hover {
  border-top: 1px solid #C6A87D;
  background-color: #F4E3B2;
  color: #3D2A0F;
  cursor: pointer;
}
.review:hover i {
  color: #CE8E35;
}
.reviews {
  font-family: 'Source Sans Pro', sans-serif;
}
.reviews .description {
  font-style: italic;
  min-width: 30rem;
}
.rating {
    min-width: 13rem;
    padding-top: 0.8rem;
}


@media (min-width:200px){
  .review_from, .map{
    display: none;
  }
  .reviews .rating,
  .reviews .customer_name {
    width: 50%;
    margin: auto;
    float: left;
  }
  .reviews .description {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width:100%;
  }
}
@media (min-width:580px) {
  .map {
    display: block;
  }
  .review_from {
    display: block;
    float:left;
    width: 20%;
  }
  .reviews .rating,
  .reviews .customer_name {
    width: 40%;
    margin: auto;
    float: left;
  }
  iframe {
    width: 400px;
    height: 200px;
  }
}
@media (min-width:800px){
  iframe {
    width: 600px;
    height: 400px;
  }
}
@media (min-width:1024px) {
  .reviews .rating,
  .reviews .review_from,
  .reviews .customer_name {
    width: 15%;
    margin: initial;
  }
  .reviews .description {
    float:left;
    width:50%;
  }
}
